<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>test selecteurs</title>
</head>
<body>

    <form method='post'>
        <label>Nom</label>
        <input type='text' name='nom'>

        <label>Prenom</label>
        <input type='text' name='prenom'>

        <label>Service</label>
        <input type='text' name='service'>

        <label>Salaire</label>
        <input type='text' name='salaire'>

        <input type='submit' >
    </form>

</body>
</html>
